<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>NESSFIT | Editar Administrativo</title>
  <link rel="icon" th:href="@{/images/nessfit-logo.png}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/login-nessfit-logo.css}">
  <link rel="stylesheet" th:href="@{/css/administrador/add-administrative.css}">
  <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
  <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
</head>
<body>
<nav th:replace="~{fragments/navigation::navbar}"></nav>

<div th:replace="~{fragments/navigation::shortcuts}"></div>

<h1>Editar Administrativo</h1>

<div th:replace="fragments/common :: common-body"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
</body>
</html>