<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/common :: head('Editar Administrativo', ~{::link})">
        <link rel="stylesheet" th:href="@{/css/administrador/manage-administrative.css}">
        <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
        <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
    </head>
    <body>
        <nav th:replace="~{fragments/navigation::navbar}"></nav>

        <div th:replace="~{fragments/navigation::shortcuts}"></div>

        <h1>Editar Administrativo</h1>

        <section class="flex-container">
            <!-- RUT FINDER -->
            <form th:action="@{/administrador/manage-administrative}" method="get" class="user-finder">
                <label>Ingrese RUT para búsqueda</label>
                <input type="text" id="rut" name="rut" placeholder="10123123K">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
            <!-- ADMINISTRATIVOS TABLE -->
            <h2 th:if="${users.totalPages == 0}">No hay usuarios que mostrar.</h2>
            <div th:if="${users.totalPages > 0}" class="users-container">
                <div class="user-entry">
                    <div class="user-rut">RUT</div>
                    <div class="user-name">Nombre</div>
                </div>
                <th:block th:each="user : ${users.content}">

                    <a class="user-entry link-dark" th:href="@{/administrador/edit-administrative(rut=${user.rut})}">
                        <div class="user-rut" th:text="${user.rut}"></div>
                        <div class="user-name" th:text="${user.name + ' ' + user.firstLastName + ' ' + user.secondLastName }"></div>
                    </a>
                </th:block>
            </div>
            <!--  PAGE SELECTOR -->
            <nav class = "page-selector" th:if="${users.totalPages > 0}">
                <ul class="pagination ">
                    <li class="page-item" th:classappend="${users.number == 0 ? 'disabled' : ''}">
                        <a th:href="@{/administrador/manage-administrative(page=${users.number - 1})}"
                           class="page-link">Anterior</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${i eq users.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, users.totalPages, 1)}">
                        <a class="page-link"
                           th:href="@{/administrador/manage-administrative?page={tmpPag} (tmpPag=${i-1}) }"
                           th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${users.number == (users.totalPages - 1) ? 'disabled' : ''}">
                        <a th:href="@{/administrador/manage-administrative(page=${users.number + 1})}"
                           class="page-link">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </section>


        <div th:replace="fragments/common :: common-body"></div>
    </body>
</html>