<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Visualizar Solicitudes', ~{::link})">
  <link rel="stylesheet" th:href="@{/css/cliente/visualize-rent-requests.css}">
  <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
  <link rel="stylesheet" th:href="@{/css/nav-bar.css}">

</head>
<body>
<nav th:replace="~{fragments/navigation::navbar}"></nav>
<div th:replace="~{fragments/navigation::shortcuts}"></div>

<h1>Visualizar Solicitudes de Arriendo</h1>

<div class="pdf-icon-container">
  <a th:href="@{/cliente/visualize-rent-requests/pdf}">
    <img class = "pdf-icon" th:src="@{/images/pdf-icon.png}" alt = "PDF Icon">
  </a>
</div>

<section class="flex-container">
  <div th:if="${successMsg} ne null" class="alert alert-success" role="alert">
    <label th:text="${successMsg}"></label>
  </div>
  <!-- DEPORTIVE CENTER FINDER -->
  <form th:action="@{/cliente/visualize-rent-requests}" method="get" class="user-finder">
    <label>Ingrese RUT para búsqueda</label>
    <input type="text" id="rut" name="rut" placeholder="10123123K">
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
    <a th:href="@{/cliente/visualize-rent-requests}">
      <img class="refresh-icon" th:src="@{/images/refresh-icon.png}" alt="Refrescar">
    </a>
  </form>
  <!-- REQUESTS TABLE -->
  <h2 th:if="${requests.totalPages == 0}">No hay solicitudes que mostrar.</h2>
  <div th:if="${requests.totalPages > 0}" class="users-container">
    <div class="user-entry user-entry-header">
      <div class="page-header grid-item"><b>Fecha</b></div>
      <div class="page-header grid-item"><b>ID</b></div>
      <div class="page-header grid-item"><b>Nombre Centro Deportivo</b></div>
      <div class="page-header grid-item"><b>Costo Total</b></div>
      <div class="page-header grid-item"><b>RUT Cliente</b></div>
      <div class="page-header grid-item"><b>Nombre Cliente</b></div>
      <div class="page-header grid-item"><b>Estado</b></div>
    </div>
    <th:block th:each="request : ${requests.content}">

      <a class="user-entry link-dark"  th:id="${request.id}" onmouseover="nameFocus(this.id)" onmouseleave="nameUnFocus(this.id)" th:href="@{/cliente/visualize-single-request(id=${request.id})}">
        <div class="grid-item" th:text="${request.requestDate}"></div>
        <div class="grid-item" th:text="${request.id}"></div>
        <div class="grid-item" th:text="${#strings.capitalizeWords(request.deportiveCenter.name)}"></div>
        <div class="grid-item" th:text="${'$' + request.totalPrice}"></div>
        <div class="grid-item" th:text="${request.user.rut}"></div>
        <div class="grid-item">
          <div th:id="${'mini-grid' + request.id}" class="mini-grid link-dark">
            <div class="grid-item" th:text="${#strings.capitalizeWords(request.user.name)}"></div>
            <div class="grid-item" th:text="${#strings.capitalizeWords(' '+ request.user.firstLastName + ' ' + request.user.secondLastName)}"></div>
          </div>
        </div>
        <div class="grid-item" th:text="${#strings.capitalizeWords(request.status)}"></div>
      </a>
    </th:block>
  </div>
  <!--  PAGE SELECTOR -->
  <nav class = "page-selector" th:if="${requests.totalPages > 0}">
    <ul class="pagination ">
      <li class="page-item" th:classappend="${requests.number == 0 ? 'disabled' : ''}">
        <a th:href="@{/cliente/visualize-rent-requests(page=${requests.number - 1})}"
           class="page-link">Anterior</a>
      </li>
      <li class="page-item"
          th:classappend="${i eq requests.number + 1} ? 'active'"
          th:each="i : ${#numbers.sequence( 1, requests.totalPages, 1)}">
        <a class="page-link"
           th:href="@{/cliente/visualize-rent-requests?page={tmpPag} (tmpPag=${i-1}) }"
           th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
      </li>
      <li class="page-item"
          th:classappend="${requests.number == (requests.totalPages - 1) ? 'disabled' : ''}">
        <a th:href="@{/cliente/visualize-rent-requests(page=${requests.number + 1})}"
           class="page-link">Siguiente</a>
      </li>
    </ul>
  </nav>
</section>



<div th:replace="fragments/common :: common-body"></div>
<script th:src="@{/js/visualize-rent-requests.js}"></script>
</body>
</html>