@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
    font-family: "Poppins", sans-serif;
}

h1
{
    text-align: center;
    margin: 15px auto 0;
    padding: 0;
}

#chartdiv
{
    display: block;
    width: auto;
    height: 300px;
    margin: 0;
    padding: 0;
}


.refresh-icon
{
    width: 28px;
    height: 28px;
}


.table-title
{
    margin: 40px auto 0;
    width: 250px;
}
.request-table
{
    background-color: white;
	margin: 50px auto;
	width: 900px;
    text-align: left;
}
.table-section
{
	box-sizing: border-box;
    background-color: #20c67a;
    border: 2px solid #000;
    border-radius: 5px;
    width: 1000px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;;
    display: flex;
}

thead
{
	background-color: #3f8880;
	color: white;
}
tr:nth-child(even)
{
	background-color: #ddd;
}


.info-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    align-items: center;
    min-height: 100vh;
}

.table-grid-element
{
    grid-column-start: 1;
    grid-column-end: 3;
}

.request-tuple
{
    height: 30px;
}