body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
}
.container
{
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.labels
{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    color: #000000;
}
h1
{
    font-size: 4em;
    padding: 0;
    margin: 0;
}