<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <th:block th:fragment="common">
            <li class="nav-item mt-5">
                <a class="nav-link" th:href="@{/account-settings}">Editar datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
            </li>
        </th:block>

        <nav class="navbar fixed-top" th:fragment="navbar">
            <div class="container-fluid">
                <button class="navbar-toggler position-absolute top-50 start-0 border border-0 m-3 p-2" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title mt-3" id="offcanvasNavbarLabel">NESSFIT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <th:block sec:authorize="hasRole('ADMINISTRADOR')">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Agregar Administrativos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/administrador/manage-clients}">Administrar Usuarios</a>
                                </li>
                            </th:block>

                            <th:block sec:authorize="hasRole('ADMINISTRATIVO')">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Agregar Recintos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/administrativo/add-client}">Agregar Cliente</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Administrar Recintos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/administrativo/manage-clients}">Administrar Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Administrar Solicitudes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Estadísticas</a>
                                </li>
                            </th:block>

                            <th:block sec:authorize="hasRole('CLIENTE')">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Arrendar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Mis Solicitudes</a>
                                </li>
                            </th:block>

                            <th:block th:replace="::common"></th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="shortcuts-logo-container" th:fragment="shortcuts">
            <a th:href="@{/home}">
                <img class="logos" th:src="@{/images/home-logo.png}" alt="Inicio">
            </a>
            <a th:href="@{/account-settings}">
                <img class="logos" th:src="@{/images/settings-logo.png}" alt="Editar datos">
            </a>
            <a th:href="@{/logout}">
                <img class="logos" th:src="@{/images/logout-logo.png}" alt="Cerrar sesión">
            </a>
        </div>
    </body>
</html>