<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head th:replace="fragments/common :: head('Agregar Recinto', ~{::link})">
        <link rel="stylesheet" th:href="@{/css/administrativo/add-deportive-center.css}">
        <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
        <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
         <link rel="stylesheet" th:href="@{/css/form-icons.css}">
    </head>

    <body>
        <nav th:replace="~{fragments/navigation::navbar}"></nav>

        <div th:replace="~{fragments/navigation::shortcuts}"></div>

        <div th:replace="~{fragments/common::common-body}"></div>

        <h1>Agregar Recinto</h1>
        <section class="form-section">
            <div class="form-container">
                <div class="m-5">
                    <div th:if="${successMsg} ne null" class="alert alert-success" role="alert">
                        <label th:text="${successMsg}"></label>
                    </div>
                    <div th:if="${errorMsg} ne null" class="alert alert-warning" role="alert">
                        <label th:text="${errorMsg}"></label>
                    </div>
                    <form th:action="@{/administrativo/add-deportive-center}" th:object="${deportiveCenter}" method="post">
                        <div class="input-item">
                            <img class = "attribute-logo" th:src="@{/images/rut-logo.png}">
                            <label>Nombre de la instalación</label>
                            <label class="input-box">
                                <input class="information-form-control" type="text" th:field="*{name}">
                                <div th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}"></div>
                            </label>
                        </div>
                        <div class="input-item">
                            <img class = "attribute-logo" th:src="@{/images/address-icon.png}">
                            <label>Dirección</label>
                            <label class="input-box">
                                <input class="information-form-control" type="text" th:field="*{address}">
                                <div th:if="${#fields.hasErrors('address')}" th:errorclass="text-danger" th:errors="*{address}"></div>
                            </label>
                        </div>
                        <div class="input-item">
                            <img class = "attribute-logo" th:src="@{/images/category-icon.png}">
                            <label>Tipo</label>
                            <br>
                            <select th:field="*{type.id}">
                                <option th:each="type : ${types}" th:value="${type.id}"
                                        th:text="${#strings.capitalizeWords(type.name)}"></option>
                            </select>
                        </div>
                        <div class="input-item">
                            <img class = "attribute-logo" th:src="@{/images/cost-icon.png}">
                            <label>Costo de arriendo (por día)</label>
                            <label class="input-box">
                                <input class="information-form-control" type="text" inputmode="numeric" onkeydown="return onlyNumberInput(event)"
                                       th:field="*{costPerDay}">
                                <div th:if="${#fields.hasErrors('costPerDay')}" th:errorclass="text-danger" th:errors="*{costPerDay}"></div>
                            </label>
                        </div>
                        <div class="input-item">
                            <img class = "attribute-logo" th:src="@{/images/operative-icon.png}">
                            <label>Estado</label>
                            <label class="input-box">
                            <select th:field="*{isEnabled}">
                                <option th:value="true">Operativo</option>
                                <option th:value="false">Inoperativo</option>
                            </select>
                            </label>
                        </div>
                        <div th:replace="fragments/common :: modalButton(null, ~{::p})">
                            <p>¿Está seguro?</p>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-send" data-bs-toggle="modal"
                        data-bs-target="#dataConfirmModal">
                    Agregar
                </button>
                <a th:href="@{/home}">
                    <button type="button" class="btn btn-tertiary btn-send">
                        Volver
                    </button>
                </a>
            </div>
        </section>

    </body>
</html>