<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="fragments/common :: head('Administrar Clientes', ~{::link})">
    <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
    <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
    <link rel="stylesheet" th:href="@{/css/manage-clients.css}">
    <link rel="stylesheet" th:href="@{/css/background-font-style.css}">
    <link rel="stylesheet" th:href="@{/css/confirmation-modal.css}">
    <link rel="stylesheet" th:href="@{/css/common-buttons.css}">
</head>
<body>
<nav th:replace="~{fragments/navigation::navbar}"></nav>

<div th:replace="~{fragments/navigation::shortcuts}"></div>


<h1>Administrar Clientes</h1>
<div class="input-container">
    <form class="form-container" th:action="@{/administrativo/manage-clients}">
        <div class="rut-input">
            <label>Ingrese RUT del cliente a buscar
                <input th:if="${RUT} ne null" name="rut" type="text" placeholder="RUT (Ej: 20123123K)"
                       th:value="${RUT}" data-bs-toggle="tooltip"
                       data-bs-placement="top" data-bs-title="Debe ir sin puntos ni guión">
                <input th:unless="${RUT} ne null" name="rut" type="text" placeholder="RUT (Ej: 20123123K)" data-bs-toggle="tooltip"
                       data-bs-placement="top" data-bs-title="Debe ir sin puntos ni guión">
            </label>
        </div>
        <div class="search-submit-button">
            <div data-bs-toggle="tooltip"
                 data-bs-placement="top" data-bs-title="Buscar al usuario">
                <button type="submit" class="btn search-button">Buscar</button>
            </div>
        </div>
    </form>
    <div class="user-search-container">
        <form th:action="@{/administrativo/manage-clients} " method="post" class="form-container">
            <div th:unless="${RUT} ne null">
                <p class="initial-message" th:text="${nullMessage}"></p>
            </div>
            <div th:if="${RUT} ne null">
                <div th:text="'Nombre Completo: '+${name}+' '+${firstLastName}
      +' '+${secondLastName}"></div>
                <div th:text="'Estado: ' +${isEnabled}"></div>
                <input type="hidden" name="rut" th:value="${RUT}"/>
                <div class="btn-tooltip-container" data-bs-toggle="tooltip"
                     data-bs-placement="bottom"
                     data-bs-title="Deshabilitar un usuario implica que ya no podrá iniciar sesión">
                    <div class="change-status-submit-button">
                        <button type="button" class="btn btn-primary enable-disable" th:text="${actionName}"
                                data-bs-toggle="modal"
                                data-bs-target="#dataConfirmModal"></button>
                    </div>
                </div>
            </div>
                <!-- MODAL -->
            <div th:replace="fragments/common :: modalButton(null, ~{::p})">
                <p>¿Está seguro de realizar los cambios?</p>
            </div>
        </form>


    </div>

</div>

<div th:replace="fragments/common :: common-body"></div>
</body>
</html>