<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="fragments/common :: head('Administrar Clientes', ~{::link})">
  <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
  <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
  <link rel="stylesheet" th:href="@{/css/manage-clients.css}">
  <link rel="stylesheet" th:href="@{/css/background-font-style.css}">
  <link rel="stylesheet" th:href="@{/css/confirmation-modal.css}">
  <link rel="stylesheet" th:href="@{/css/common-buttons.css}">
</head>
<body>
<nav th:replace="~{fragments/navigation::navbar}"></nav>

<div th:replace="~{fragments/navigation::shortcuts}"></div>


<h1>Administrar Clientes</h1>
<div class="input-container">

  <div  class="user-search-container">
      <div th:if="${RUT} ne null" data-bs-toggle="tooltip" data-bs-placement="bottom"
           data-bs-title="Deshabilitar un usuario implica que este no podrá iniciar sesión">
        <div th:text="'Nombre Completo: '+${name}+' '+${firstLastName}
      +' '+${secondLastName}"></div>
        <div th:text="'Estado: ' +${isEnabled}">
        </div>
        <form th:action="@{/administrativo/manage-clients} " method="post" class="form-container">
          <input type="hidden" name="rut" th:value="${RUT}" />
          <div class="change-status-submit-button">
            <button type="button"  class="btn btn-primary enable-disable" th:text="${actionName}" data-bs-toggle="modal"
                    data-bs-target="#dataConfirmModal"></button>
          </div>
          <!-- MODAL -->
          <div th:replace="fragments/common :: modalButton(null, ~{::p})">
            <p>¿Está seguro de realizar los cambios?</p>
          </div>
        </form>

      </div>
      <div th:unless="${RUT} ne null">
        <p  class="initial-message" th:text="${nullMessage}"></p>
      </div>
  </div>
<form class="form-container" th:action="@{/administrativo/manage-clients}">
  <div class="rut-input">
    <label>Ingrese RUT del cliente a buscar
      <input th:if="${RUT} ne null" name="rut" type="text" placeholder="RUT (Ej: 20123123K)" th:value="${RUT}">
      <input th:unless="${RUT} ne null" name="rut" type="text" placeholder="RUT (Ej: 20123123K)">
    </label>
  </div>
  <div class="search-submit-button">
    <button type="submit" class="btn search-button">Buscar</button>
  </div>
</form>

</div>
<div th:replace="fragments/common :: common-body"></div>
</body>
</html>