<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head th:replace="fragments/common :: head('Estadísticas', ~{::link})">
        <link rel="stylesheet" th:href="@{/css/administrativo/statistics.css}">
        <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
        <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
        <link rel="stylesheet" th:href="@{/css/form-icons.css}">
        <link rel="stylesheet" th:href="@{/css/background-font-style.css}">   
           
    </head>
    
    <body>
    	<nav th:replace="~{fragments/navigation::navbar}"></nav>

        <div th:replace="~{fragments/navigation::shortcuts}"></div>

		<div th:replace="~{fragments/common::common-body}"></div>
        
	        <div class = "labels">
	        	<h1>Estadísticas</h1>
        	</div>
	        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	       	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	       	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	       	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	       	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	      	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	        
		
			<script>
				console.log([[${CantidadPiscina}]]);
				am5.ready(function() {
				
				// Create root element
				// https://www.amcharts.com/docs/v5/getting-started/#Root_element
				var root = am5.Root.new("chartdiv");
				
				// Set themes
				// https://www.amcharts.com/docs/v5/concepts/themes/
				root.setThemes([
				  am5themes_Animated.new(root)
				]);
				
				// Create chart
				// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
				var chart = root.container.children.push(
				  am5percent.PieChart.new(root, {
				    endAngle: 270
				  })
				);
				
				// Create series
				// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
				var series = chart.series.push(
				  am5percent.PieSeries.new(root, {
				    valueField: "value",
				    categoryField: "category",
				    endAngle: 270
				  })
				);
				
				series.states.create("hidden", {
				  endAngle: -90
				});
				
				// Set data
				// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
				series.data.setAll([{
				  category: "Cancha",
				  value: [[${CantidadCancha}]]
				}, {
				  category: "Gimnasio",
				  value: [[${CantidadGimnasio}]]
				}, {
				  category: "Piscina",
				  value: [[${CantidadPiscina}]]
				}, {
				  category: "Quincho",
				  value: [[${CantidadQuincho}]]
				}, {
				  category: "Estadio",
				  value: [[${CantidadEstadio}]]
				}]);
				
				series.appear(1000, 100);
				
				}); // end am5.ready()
			</script>
										<hr>
										<div class="clearfix"></div>

										<div class="row invoice-info">
											<div id="chartdiv"></div>

										</div>
										<hr>
										<div class="clearfix"></div>

										<!-- Table row -->
										<h4>Días solicitados</h4>
										<div class="row">
											<div class="  table">
												<table class="table">
													<thead>
														<tr>
															<th>Fecha</th>
															<th>Id</th>
															<th>Centro Deportivo</th>
															<th>Costo total</th>
															<th>Rut Cliente</th>
															<th>Nombre Cliente</th>
															<th>Estado</th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${solicitudes.isEmpty()}">
															<th colspan="5" class="text-center">Sin solicitudes dentro del periodo seleccionado</th>
														</tr>
														<tr th:unless="${solicitudes.isEmpty()}"
															th:each="solicitud : ${solicitudes}">
															<th
																th:text="${#dates.format(solicitud.requestDate, 'dd-MM-yyyy')}"
																scope="row">1</th>
															<td th:text="${solicitud.id}">Mark</td>
															<td th:text="${solicitud.deportiveCenter.name}">Otto</td>
															<td th:text="${solicitud.totalPrice}">Otto</td>
															<td th:text="${solicitud.user.rut}">Otto</td>
															<td
																th:text="${solicitud.user.name + ' ' + solicitud.user.firstLastName}">Otto</td>
															<td th:if="${solicitud.status == 'pendiente'}" class="text-warning">Pendiente</td>
															<td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>

    </body>
</html>