@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
    font-family: "Poppins", sans-serif;
}

body
{
    background-color: #fef6cd;
}
.navbar-toggler
{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.container
{
    height: 100vh;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.labels
{
    text-align: center;
    margin: 5vh 0 5vh;
    color: #000000;
}

h1
{
    margin: 0;
    padding: 0;
    font-size: 8vw;
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 4vw;
}
h3
{
    margin: 0;
    padding: 0;
    font-size: 2vw;
}



.buttons
{
    object-position: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.administrativo-buttons
{
    grid-template-columns: repeat(3, 1fr);
}



a
{
    padding: 0;
    margin: 5px auto;
    position: relative;
}

button
{
    width: 170px;
    height: 170px;
    padding: 0;
    border-radius: 5px;
    border: 2px solid #000;
    margin: 5px auto;
    background-color: #20c67a;
    font-size: 18px;
}

button:hover
{
    background-color: #28e890;
}

.button-logo
{
    position: relative;
    display: block;
    top: 1vh;
    margin: auto;
    padding: 0;
    width: 35px;
    height: 35px;
}