.nessfit-logo-container
{
    display: inline-block;
    height: 15vh;
    width: 15vh;
    margin: 3vh 0 0 3vh;
    padding: 0;
}

.nessfit-logo-home
{
    position: relative;
    height: 15vh;
    width: 15vh;
    margin: 0;
    padding: 0;
}