.shortcuts-logo-container
{
    position: fixed;
    margin: 0 0 0 25px;
    padding: 0;
    top: 65px;
    left: 0;
    width: 35px;
    height: 35px;
}


.logos
{
    margin: 5px 0;
    padding: 0;
    width: 35px;
    height: 35px;
}

.logos:hover
{
    border: 1px solid #ffffff;
    color: #ffffff;
}