<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <title>NESSFIT | Inicio</title>
    <link rel="icon" th:href="@{/images/nessfit-logo.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login-nessfit-logo.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/shortcut-logos.css}">
    <link rel="stylesheet" th:href="@{/css/nav-bar.css}">
</head>
<body>
<div class="nessfit-logo-container">
    <a th:href="@{/home}">
        <img class = "nessfit-logo-home" th:src="@{/images/nessfit-logo.png}" alt = "Nessfit logo">
    </a>
</div>
<div class="shortcuts-logo-container">
    <a th:href="@{/home}">
        <img class="logos" th:src="@{images/home-logo.png}" alt="Inicio">
    </a>
    <a th:href="@{/account-settings}">
        <img class="logos" th:src="@{images/settings-logo.png}" alt="Configuración de cuenta">
    </a>
    <a th:href="@{/logout}">
        <img class="logos" th:src="@{images/logout-logo.png}" alt="Cerrar sesión">
    </a>
</div>

<nav class="navbar fixed-top ">
    <div class="container-fluid">
        <button class="navbar-toggler position-absolute top-50 start-0 border border-0 m-3 p-2" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title mt-3" id="offcanvasNavbarLabel">NESSFIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" sec:authorize="hasRole('ADMINISTRADOR')">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agregar Administrativos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administrar Usuarios</a>
                    </li>
                    <li class="nav-item mt-5">
                        <a class="nav-link" th:href="@{/account-settings}">Configuración de cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" sec:authorize="hasRole('ADMINISTRATIVO')">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Agregar Recintos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@{/administrativo/add-client}">Agregar Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administrar Recintos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administrar Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administrar Solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Estadísticas</a>
                    </li>

                    <li class="nav-item mt-5">
                        <a class="nav-link" th:href="@{/account-settings}">Configuración de cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" sec:authorize="hasRole('CLIENTE')">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Arrendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mis Solicitudes</a>
                    </li>
                    <li class="nav-item mt-5">
                        <a class="nav-link" th:href="@{/account-settings}">Configuración de cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class = "labels">
        <h1>Bienvenido</h1>
        <h2 th:text="${name}+' '+${lastName}" ></h2>
        <h3>¿Qué desea hacer?</h3>
    </div>
    <div class="buttons" sec:authorize="hasRole('ADMINISTRADOR')">
        <a th:href="@{/home}">
            <button>Agregar Administrativos
                <img class="button-logo" th:src="@{images/add-user-logo.png}" alt="Agregar administrativos"></button>
            </button>
        </a>
        <a th:href="@{/home}">
            <button>Administrar Usuarios
                <img class="button-logo" th:src="@{images/manage-users-logo.png}" alt="Administrar usuarios">
            </button>
        </a>
    </div>

    <div class="buttons administrativo-buttons"  sec:authorize="hasRole('ADMINISTRATIVO')">
        <a th:href="@{/home}">
            <button>Agregar Recinto
                <img class="button-logo" th:src="@{images/add-place-logo.png}" alt="Agregar recito">
            </button>
        </a>
        <a th:href="@{/administrativo/add-client}">
            <button>Agregar Cliente
                <img class="button-logo" th:src="@{images/add-user-logo.png}" alt="Agregar cliente"></button>
        </a>
        <a th:href="@{/home}">
            <button>Administrar Recintos
                <img class="button-logo" th:src="@{images/manage-places-logo.png}" alt="Administrar recintos">
            </button>
        </a>
        <a th:href="@{/home}">
            <button>Administrar Clientes
                <img class="button-logo" th:src="@{images/manage-users-logo.png}" alt="Administrar clientes">
            </button>
        </a>
        <a th:href="@{/home}">
            <button>Administrar Solicitudes
                <img class="button-logo" th:src="@{images/manage-requests-logo.png}" alt="Administrar solicitudes">
            </button>
        </a>
        <a th:href="@{/home}">
            <button>Estadísticas
                <img class="button-logo" th:src="@{images/manage-requests-logo.png}" alt="Estadísticas">
            </button>
        </a>
    </div>

    <div class="buttons" sec:authorize="hasRole('CLIENTE')">
        <a class="button-container" th:href="@{/home}">
            <button>Arrendar
                <img class="button-logo" th:src="@{images/rent-logo.png}" alt="Arendar recinto">
            </button>
        </a>
        <a class="button-container" th:href="@{/home}">
            <button>Mis solicitudes
                <img class="button-logo" th:src="@{images/quote-request-logo.png}" alt="Mis solicitudes">
            </button>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>